site_name: "The Moonstream Docs"

theme:
  name: material
  logo: assets/moonstream-logo.png
  favicon: images/favicon.png
  font:
    text: Space Grotesk
    code: Jetbrains Mono
  palette:
    - scheme: moonstream
      primary: black
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: black
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark-mode
  features:
    - navigation.instant
    - navigation.tracking
    - search.suggest

plugins:
  - gen-files:
      scripts:
        - generators/inspector_facet.py
  - git-revision-date-localized:
      enable_creation_date: true
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_section_style: spacy
            separate_signature: true
            show_signature_annotations: true
            show_root_full_path: false
            show_object_full_path: false
          paths:
            - moonworm
  - search
  - social
  - tags

markdown_extensions:
  - pymdownx.tasklist:
      custom_checkbox: true

extra:
  homepage: https://moonstream.to
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/bugout-dev/moonstream"
    - icon: fontawesome/brands/discord
      link: https://discord.gg/pYE65FuNSz
    - icon: fontawesome/brands/twitter
      link: "https://twitter.com/moonstreamto"

  generator: false

extra_css:
  - stylesheets/moonstream.css

repo_url: https://github.com/bugout-dev/moonstream-docs

edit_uri: edit/main/docs

copyright: Copyright &copy; 2022 Moonstream.to

watch:
  - moonworm
  - inspector-facet
